# ignore all directories & files in root dir
# /*
# allow files in root dir
# !/.gitignore
# allow directories in root dir
# !/modules
# allow decendants in each allowed directories mentioned above
# !/modules/*


# Ignore only the vendor folder
/vendor/

