# ignore all directories & files in root dir
/*
# allow files in root dir
!/.gitignore
# allow directories in root dir
!/Modules
# allow decendants in each allowed directories mentioned above
!/Modules/*
